.input,
textarea {
  background-color: #fff;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d32f2f !important;
  font-size: 16px !important;
  color: #b71c1c !important;
  font-weight: 400;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  outline-width: 0;
  font-weight: 400;
}

button:focus {
  box-shadow: none !important;
  outline-width: 0;
}

.card {
  border-radius: 0;
  border: none;
}

.card1 {
  width: 60%;
  padding: 40px 30px 10px 30px;
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #220b0b, #b71c1c);
}

#logo {
  width: 70px;
  height: 60px;
}

.heading {
  margin-bottom: 60px !important;
  color: #b71c1c;
}

::placeholder {
  color: #b71c1c !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b71c1c !important;
}

::-ms-input-placeholder {
  color: #b71c1c !important;
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px;
  color: #b71c1c;
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px;
  color: #b71c1c;
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #f44336, #b71c1c);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px;
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #b71c1c, #f44336);
}

.btn-white {
  border-radius: 50px;
  color: #b71c1c;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #b71c1c !important;
}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #f44336, #b71c1c);
}

a {
  color: #b71c1c;
}

a:hover {
  color: #b71c1c;
}

.bottom {
  width: 100%;
  margin-top: 50px !important;
}

.sm-text {
  font-size: 15px;
  color: #b71c1c;
}

.google-login-inner {
  text-align: center;
}

.google-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 992px) {
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px;
  }

  .card2 {
    width: 100%;
  }

  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px !important;
  }

  .card2 {
    padding: 50px;
  }

  .right {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
}
